body {
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.wrapper {    
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#rules {
    background-image: url("../assets/cards-bg.gif");
    background-position: center;
    background-size: 150%;
    border: 2px solid beige;
    border-radius: 15px;
    background-color: beige;
    padding: 20px;
    text-align: center;
}

h1 {
    color:red;
    text-shadow: 3px 3px black;
    font-size: 50px;
    text-decoration: underline;
}
p{
    color: green;
    text-shadow: 2px 0px 2px black;
}
.step {
    font-size: 25px;
    font-weight: bold;
}

.rule {
    font-size: 20px;
}

.button {
    margin-top: 20px; 
}
.inner-rule{
    opacity: 1;
}


