body{
    display: flex;
    justify-content: center;
    background-color: lightblue;
}
div{
    border: 2px solid blue;
    border-radius: 10px;
    background-color: azure;
    box-shadow: 3px 3px blue;
    text-align: center;
}
h3{
    text-decoration: underline;
}
a{
    font-size: 30px;
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: white;
}
a:hover{
    text-decoration: underline;
    color: blue;
}